<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Cadastre-se</h1>
  <h4>Crie uma conta rápido e fácil!</h4>
  <form action="/cadastro" method="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" placeholder="Digite seu nome">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Digite seu email">

    <label for="senha">Senha</label>
    <input type="password" name="senha" id="senha" placeholder="Digite sua senha">

    <div>
      <label for="tema">Tema Dark</label>
      <input type="radio" name="tema" id="tema" value="dark-mode" checked>
      <label for="tema">Tema Light</label>
      <input type="radio" name="tema" id="tema" value="light-mode">
    </div>

    <button>Enviar</button>
  </form>
</body>
</html>