<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Para ter umaexperiência personalizada, acesse sua conta :)</h4>

    <form action="/login" method="post">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Informe o seu email">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" placeholder="Informe o seu senha">
        <button>Entrar</button>
    </form>
</body>
</html>